/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
  --bg: #212121;
  --bg2: #302f2f;
  --sec: #bb86fc;
  --links: #cdaef3;
  --icon: url(https://cdn.discordapp.com/attachments/468141324906921984/852117175212179466/discord-avatar-512-YV0PV.png)
}

.bg-h5JY_x,
.container-16j22k {
  background-color: var(--bg);
}
.bg-h5JY_x {
  background-color: var(--bg);
}
.scrollerInner-2YIMLh {
  background-color: var(--bg);
}
.container-1r6BKw.themed-ANHk51 {
  background: var(--bg);
}
.content-3YMskv {
  background-color: var(--bg);
}

.searchBar-6Kv8R2 {
  background-color: var(--bg);
}
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
  background-color: var(--bg2);
  border-radius: 20px;
}
.scroller-1JbKMe.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
  background-color: var(--bg);
}
.panel-24C3ux.activityPanel-28dQGo {
  background-color: var(--bg);
}
.container-3baos1 {
  background-color: var(--bg);
}
.form-2fGMdU {
  background-color: var(--bg);
}
.form-2fGMdU .channelTextArea-rNsIhG .textArea-12jD-V .placeholder-37qJjk {
  color: var(--sec);
}
.form-2fGMdU .channelTextArea-rNsIhG .scrollableContainer-2NUZem {
  max-height: 45vh;
  background-color: var(--bg2);
  border-radius: 22px;
}
.form-2fGMdU .channelTextArea-rNsIhG {
  background-color: transparent;
}
.form-2fGMdU:before {
  display: none;
}
.scroller-2LSbBU {
  background-color: var(--bg);
}
.peopleList-3c4jOR.auto-Ge5KZx.scrollerBase-289Jih {
  background-color: var(--bg);
}
.children-19S4PO:after {
  display: none;
}
.nowPlayingSidebar-2OFn0o {
  min-width: 300px;
  max-width: 300px;
}
.customStatusActivity-nmH3DF {
  background-color: var(--bg);
}
.nameTagWithCustomStatus-2kkfrQ.nameTag-ECvD8P.nameTag-m8r81H {
  background-color: var(--bg);
}

.topSection-y3p-_D {
  background-color: var(--bg);
}
.container-lRFx4q {
  background-color: var(--bg);
}
.container-lRFx4q .scroller-2ZPeAD {
  margin-left: 0;
  border-left: none;
}

.wrapper-3D2qGf {
  background-color: var(--sec);
  border: none;
}
.wrapper-3D2qGf:hover,
.wrapper-3D2qGf.active-1xchHY {
  background-color: var(--links) !important;
}
.wrapper-3D2qGf .inset-3sAvek {
  background-color: var(--bg);
}
.wrapper-3D2qGf .section-2gLsgF {
  background-color: var(--links);
}
.header-2V-4Sw {
  background-color: var(--bg);
  color: var(--sec);
}
.mention-1f5kbO {
  background-color: var(--sec);
}
.mentioned-xhSam7 {
  background-color: rgba(var(--sec), 0.1) !important;
}
.mentioned-xhSam7:before {
  background-color: var(--sec);
}
.mentioned-xhSam7:hover {
  background-color: rgba(var(--sec), 0.2) !important;
}

.iconBadge-qZ4Ksk {
  background-color: var(--sec);
}
.container-3baos1 .button-14-BFJ:nth-child(1) .contents-18-Yxp path {
  fill: var(--sec);
}

.container-3baos1 .button-14-BFJ:nth-child(2) .contents-18-Yxp path {
  fill: var(--sec);
}

.container-3baos1 .button-14-BFJ:nth-child(3) .contents-18-Yxp path {
  fill: var(--sec);
}

.container-3baos1 .button-14-BFJ:nth-child(4) .contents-18-Yxp path {
  fill: var(--sec);
}
.sprite-2iCowe {
  filter: hue-rotate(210deg) !important;
}
.attachButton-2WznTc .contents-18-Yxp path {
  fill: var(--sec);
}
.attachButton-2WznTc:hover .attachButtonPlus-jWVFah {
  fill: var(--links);
}
.button-38aScr .contents-18-Yxp path {
  color: var(--sec);
}

.button-1ZiXG9 path {
  fill: var(--sec);
}

.item-1tOPte path {
  fill: var(--sec);
}

.iconWrapper-2OrFZ1 path {
  color: var(--sec);
}

.linkButtonIcon-Mlm5d6 path {
  color: var(--sec);
}

.actionButton-uPB8Fs path {
  color: var(--sec);
}
.buttonIcon-Od8mYw path {
  fill: var(--sec);
}

.icon-3cZ1F_ path {
  fill: var(--sec);
}

.actionIcon-PgcMM2 path {
  fill: var(--sec);
}
.wrapper-2jXpOf.modeUnread-1qO3K1
  .content-1x5b-n
  .mainContent-u_9PKf
  .icon-1DeIlz {
  color: var(--links);
}
.wrapper-2jXpOf .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz {
  color: var(--sec);
}

.wrapper-2jXpOf.modeUnread-1qO3K1
  .content-1x5b-n
  .mainContent-u_9PKf
  .channelName-2YrOjO {
    color: var(--links);
}

.metadataIcon-2FyCKU path {
  fill: var(--sec);
}

.controlIcon-3cRbti path {
  color: var(--sec);
}

.data-slate-string path {
  color: var(--sec);
}
.winButton-iRh8-Z {
  color: var(--sec);
}
.VoiceChatNotifications-button-icon {
  color: var(--sec);
}
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
  background: var(--sec);
  color: var(--bg);
}
.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb),
.topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb) {
  background: var(--sec);
  color: var(--bg);
}
.progressBar-3u8FBM,
.mediaBarWrapper-3D7r67 .mediaBarGrabber-1FqnbN,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl::after,
.mediaBarProgress-1xaPtl::before {
  background-color: var(--sec);
}
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
  background-color: var(--links);
}
.stageSection-3mAD8V {
  background-color: var(--bg);
}

.featuredTag-3pT1Rf {
  background-color: var(--bg2);
}
.colorHeaderPrimary-26Jzh- {
  color: var(--sec);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
  background-color: var(--bg2);
  color: var(--sec);
}
.scroller-1IIF0A {
  background-color: var(--bg);
}
.header-39GIC8 {
  background-color: var(--bg);
  border-bottom: none;
}
.headerCellContent-1pLtOr {
  color: var(--sec);
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background-color: var(--bg2);
  color: var(--sec);
}
.theme-dark .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover,
.theme-light .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover {
  background-color: var(--sec);
  color: var(--bg2);
}
.nameCellText-1mpqtF {
  color: var(--sec);
}
.scroller-2XE8rp {
  background-color: var(--bg);
}
.anchor-3Z-8Bb {
  color: var(--sec);
}
.icon-3cZ1F_ {
  height: 24px;
  width: 24px;
  color: var(--sec);
}
.iconContainer-O4O2CN {
  bottom: 5px;
}
.search-36MZv- {
  margin-left: 0px;
}

.search-36MZv- {
  order: -1;
}
.searchBar-3dMhjb {
  width: 28px;
  transition: width 0.5s ease-in-out;
}
.focused-31_ccS .searchBar-3dMhjb,
.open-6_Y_aH .searchBar-3dMhjb,
.searchBar-3dMhjb:hover {
  width: 150px;
}
.downloadButton-23tKQp {
  color: var(--sec);
}
.downloadButton-23tKQp:hover {
  color: var(--links);
}
.name-uJV0GL {
  color: var(--sec);
}
.title-29uC1r {
  color: var(--sec);
}
.children-gzQq2t {
  color: var(--sec);
}
.headerText-2F0828 {
  color: var(--sec);
}
.clickable-3rdHwn .icon-22AiRD {
  color: var(--sec);
}
.clickable-3rdHwn:hover .icon-22AiRD {
  color: var(--links);
}
.item-3HknzM.item-PXvHYJ.themed-OHr7kt {
  color: var(--sec);
}

.homeIcon-AaowEC path {fill: transparent}
.homeIcon-AaowEC {
background: var(--home-icon) center/cover no-repeat;
min-width: 50px;
min-height: 50px;
}


.anchor-3Z-8Bb.anchorUnderlineOnHover-2ESHQB {
  color: var(--links);
}
.grid-1nZz7S {
  background-color: var(--bg2);
}

.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
  background-color: var(--bg2);
  display: inline-block;
  max-width: 650px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 8px;
  border-radius: 15px;
}

.avatar-1BDn8e.clickable-1bVtEA {
  filter: drop-shadow(0 0 3px);
  color: var(--sec);
}
.avatar-1BDn8e:hover.clickable-1bVtEA:hover {
  filter: drop-shadow(0 0 8px);
  color: var(--sec);
  transform: scale(1.2) rotate(360deg);
  transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease;
}


.membersWrap-2h-GB4 {
  min-width: unset;
}
.membersWrap-2h-GB4 .members-1998pB {
  max-width: 65px;
  min-width: 65px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.membersWrap-2h-GB4 .members-1998pB:hover {
  max-width: 240px;
  min-width: 240px;
}
.membersWrap-2h-GB4 .members-1998pB .content-3YMskv:not(:hover) {
  padding-top: 10px;
  background-color: var(--bg);
}

.membersGroup-v9BXpm {
  margin-left: 60px;
  background-color: var(--bg);
  color: var(--sec);
}

.members-1998pB, .members-1998pB>div {
  background-color: var(--bg);
}


.container-3baos1 {
  height: 85px;
}
.container-3baos1 .avatarWrapper-2yR4wp {
  position: absolute;
  bottom: 45px;
}
.container-3baos1 .nameTag-3uD-yy {
  position: absolute;
  bottom: 45px;
  left: 50px;
}
.container-3baos1 > .noWrap-3jynv6 {
  width: 224px;
  bottom: 5px;
  position: absolute;
}
.container-3baos1 > .noWrap-3jynv6 button {
  width: 100%;
  justify-content: space-evenly;
}

.layers-3iHuyZ .layer-3QrUeG[style*="scale(0)"]:first-of-type,
.baseLayer-35bLyl {
  transform: none !important;
}
.layers-3iHuyZ .layer-3QrUeG:first-of-type[aria-hidden="true"] {
  transform: none !important;
  opacity: 1 !important;
  filter: brightness(0.25);
  pointer-events: none !important;
  transition: 100ms;
}

.sidebarRegionScroller-3MXcoP {
  background-color: var(--bg);
}

.contentRegion-3nDuYy {
  background-color: var(--bg);
}
.contentRegion-3nDuYy .contentRegionScroller-26nc1e {
  background-color: transparent;
}

.background-1QDuV2 {
  padding: 0;
  background-color: var(--bg2);
  border-radius: 30px;
}
.background-1QDuV2 .profile-1eT9hT {
  padding: 16px;
}
.background-1QDuV2 .fieldList-21DyL8 {
  padding: 16px;
  background-color: transparent;
}
.background-1QDuV2 .constrainedRow-2GB6Ki .button-38aScr {
  margin-left: 8px;
}
.layer-3QrUeG {
  background-color: var(--bg);
}
.item-PXvHYJ.themed-OHr7kt {
  color: var(--sec);
}
.header-2RyJ0Y {
  color: var(--sec);
}
.theme-dark .foreground-26ym5y {
  fill: var(--sec);
}
.theme-dark .bd-social-logo path {
  fill: var(--sec);
}
.feature-2w65J5 {
  background-color: var(--bg2) !important;
}
.theme-dark .closeButton-1tv5uR {
  border-color: var(--sec);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
  color: var(--bg);
  background-color: var(--sec);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
  background-color: var(--links);
}
.defaultColor-1_ajX0 {
  color: var(--sec);
}
.menu-319q29 {
  margin-right: 16px;
  color: var(--sec);
  cursor: pointer;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
  color: var(--bg);
  background-color: var(--sec);
}
.description-3_Ncsb,
.labelDescriptor-1PqHgD {
  color: var(--links);
}
.h5-18_1nd {
  color: var(--sec);
}
.lookFilled-1Gx00P.colorRed-1TFJan {
  color: var(--bg);
}
.lookLink-9FtZy-.colorLink-35jkBc {
  color: var(--links);
}
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 {
  color: var(--sec);
}
.title-31JmR4 {
  color: var(--sec);
}
.unread-2lAfLh {
  background-color: var(--sec);
}
.overflow-WK9Ogt {
  color: var(--links);
}
.arrow-gKvcEx.icon-2yIBmh {
  color: var(--sec);
}
.jumpToPresentBar-G1R9s6 {
  background-color: var(--sec);
  border-radius: 20px;
}
.barButtonBase-2uLO1z {
  color: var(--bg);
}
.numberBadge-2s8kKX {
  background-color: var(--sec) !important;
  color: var(--bg);
}
.item-2hkk8m {
  background-color: var(--sec);
}
.container-1giJp5 {
  background-color: var(--bg);
}
.button-1YfofB.buttonColor-7qQbGO,
.button-1YfofB .buttonColor-7qQbGO {
  background-color: var(--bg2);
  color: var(--sec);
}
.subtext-3CDbHg {
  color: var(--links);
}
.addButtonIcon-2CbG1X {
  color: var(--sec);
}
.addButtonIcon-2CbG1X:hover {
  color: var(--links);
}
.header-4zuFdR {
  background-color: var(--bg);
}
.activity-2M3PRB {
  background-color: var(--bg);
}
.infoScroller-1Qu30O.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
  background-color: var(--bg2);
}
.activityHeader-2shpl0 {
  color: var(--sec);
}
.circleIconButton-1QV--U {
  color: var(--sec);
  background-color: var(--bg2);
}
.circleIconButton-1QV--U.selected-1JjBPm {
  color: var(--bg2);
  background-color: var(--sec);
}
.tabBar-3nvOPa {
  background-color: var(--bg);
}
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ,
.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active {
  border-bottom-color: var(--sec);
}
.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:hover {
  border-bottom-color: var(--links);
}
.additionalActionsIcon-365LnQ {
  color: var(--sec);
}
.colorDefault-2K3EoJ.focused-3afm-j {
  background-color: var(--bg2);
  color: var(--sec);
}
.newMessagesBar-265mhP {
  background-color: var(--sec);
}
.unreadPill-2HyYtt {
  background-color: var(--sec);
}
#app-mount .divider-JfaTT5.isUnread-3Ef-o9 {
  border-top: 1px solid var(--sec);
}
.unreadPillCapStroke-7rkHbg {
  color: var(--sec);
  fill: var(--sec);
}
.label-22pbtT {
  color: var(--sec);
}
#permissions-modal-wrapper #permissions-modal {
  height: 80%;
}
#permissions-modal-wrapper .modal-body .perm-side {
  width: 400px;
}
#permissions-modal-wrapper .perm-scroller .perm-item {
  height: unset;
}
#permissions-modal-wrapper .perm-scroller {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(auto-fill, calc(100% / 17));
}
#permissions-modal-wrapper .perm-scroller .perm-name {
  margin-left: 5px;
}
#permissions-modal-wrapper .perm-scroller svg {
  height: 20px !important;
  width: 20px !important;
}

#permissions-modal-wrapper .header {
  background: var(--bg) !important;
}
#permissions-modal-wrapper .role-side {
  background: var(--bg) !important;
}
#permissions-modal-wrapper .perm-side {
  background: var(--bg) !important;
}
#permissions-modal-wrapper .perm-scroller .perm-name {
  color: var(--sec);
}
.title {
  color: var(--sec);
}
.editingContainer-1iOrsV,
.modalContent-nFuWe- {
  background-color: var(--bg);
}
.header-1TKi98 {
  background-color: var(--bg);
}
.theme-dark .footer-2gL1pp {
  background-color: var(--bg);
}
.icon-1BtL8T {
  color: var(--sec);
}
.grabber-3mFHz2 {
  background-color: var(--sec);
  border: var(--sec);
}
.avatarUploaderIndicator-2G-aIZ {
  display: none;
}
.item-3HknzM[aria-label="Add Friend"] {
  color: var(--bg) !important;
  background-color: var(--sec) !important;
}
.addInputWrapper-1BOZ3d {
  background-color: var(--bg);
}
.colorStandard-2KCXvj {
  color: black;
}
.wrapper-1cBijl {
  background-color: var(--bg2);
}
.addFriendInput-4bcerK::placeholder {
  color: var(--sec);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
  background-color: var(--links);
}
.header-1-dBpZ {
  color: var(--sec);
}
.description-1EvxpH {
  color: var(--links);
}
.friendsEmpty-1K9B4k {
  background-color: var(--bg);
}
.button-Jt-tIg {
  background-color: var(--sec);
  color: var(--bg);
  font-weight: bold;
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: var(--links);
  color: var(--bg);
}
#bd-pub-button {
  background-color: var(--sec);
  color: var(--bg);
  font-weight: bold;
}
#bd-pub-button:hover {
  background-color: var(--links);
  color: var(--bg);
  font-weight: bold;
}
.iconBadge-3qSJIw {
  background-color: var(--sec);
  color: var(--bg);
}
.label-2wRs_g {
  color: var(--sec);
}
.quickswitcher-3JagVE {
  background-color: var(--bg);
}
.input-2VB9rf {
  background-color: var(--bg2);
}
.input-2VB9rf::placeholder {
  color: var(--sec);
}
.header-13MUnb {
  color: var(--sec);
}
.match-38WbBN {
  color: var(--sec);
}
.note-S--UP5 {
  color: var(--links);
}
.miscContainer-2ptJ_C {
  color: var(--links);
}
.theme-dark .wrapper-3WhCwL {
  background-color: var(--sec);
  color: var(--bg);
}
.container-1CE3eW {
  background-color: var(--bg);
  border-color: var(--bg);
}
.container-UC8Ug1 {
  background-color: var(--sec);
}
.container-UC8Ug1:hover {
  background-color: var(--links);
}
.colorStandard-2KCXvj {
  color: var(--bg);
}
.title-3w8xhj {
  color: var(--sec);
}
.subtitle-Nw1LLR {
  color: var(--links);
}
.footerTitle-2CYZch {
  color: var(--sec);
}
.title-XLSR78 {
  color: var(--sec);
}
.colorHeaderSecondary-3Sp3Ft {
  color: var(--links);
}
.formTitle-aeXUoN {
  color: var(--sec);
}
.sampleLink-2NLvZg {
  color: var(--links);
}
.input-cIJ7To {
  background-color: var(--bg2);
}
.input-cIJ7To::placeholder {
  color: var(--sec);
}
.thin-1ybCId.scrollerBase-289Jih {
  background-color: var(--bg);
}
.avatar-3uk_u9 {
  color: var(--sec);
}
.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
  background-color: var(--bg2);
}
.base-1x0h_U {
  color: var(--sec);
}
.scroller-1d5FgU {
  background-color: var(--bg);
}
.guildName-1yURO5 {
  color: var(--sec);
}
.searchTitle-36D1cB {
  color: var(--bg);
}
.searchBox-3Y2Vi7.searchBox-2_mAlO {
  background-color: var(--sec);
}
.search-1iTphC .searchBox-2_mAlO .searchIcon-6ljH-4 {
  color: var(--bg);
}
.search-1iTphC .searchBox-2_mAlO .searchBoxInput-K6mkng::placeholder {
  color: var(--bg);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  background-color: var(--links);
}
.theme-dark .uploadModal-2ifh8j {
  background-color: var(--bg);
}
.theme-dark .footer-3mqk7D {
  background-color: var(--bg);
}
.size14-e6ZScH {
  color: var(--sec);
}
.filename-ovv3c5 {
  color: var(--sec);
}
.scrollableContainer-2NUZem {
  background-color: var(--bg2);
}
.label-3aiqT2 {
  color: var(--sec);
}
.optional--ezibr {
  color: var(--links);
}
button[aria-label="Send a gift"] {
  display: none;
}

.typeWindows-1za-n7 {
  position: relative;
}
.wordmark-2iDDfm {
  display: flex;
  align-items: center;
  padding: 0 6px;
  height: calc(100% + 4px);
  top: -4px;
  width: fit-content;
  font-size: 14px;
  font-weight: 600;
  font-family: "Lato";
  color: var(--sec);
}
.wordmark-2iDDfm > svg {
  display: none;
}
.wordmark-2iDDfm:after {
  content: "𝗗𝗮𝗿𝗸+ 𝗯𝘆 𝗗𝗲𝘃𝗘𝘃𝗶𝗹#𝟴𝟳𝟰𝟱";
}

.channelName-2YrOjO,
.subtitle-3V1p2E {
  color: var(--sec);
}

.navButtonActive-1MkytQ {
  background-color: var(--bg);
  color: var(--sec);
}
.navButton-2gQCx- {
  color: var(--sec);
}
.navButton-2gQCx-:hover {
  color: var(--links);
}
.colorStandard-2KCXvj {
  color: var(--sec);
}
.unicodeShortcut-15J8Ck {
  color: var(--sec);
}
.unicodeShortcut-15J8Ck:hover {
  color: var(--links);
}
.categoryIcon-1SvUHG {
  color: var(--sec);
}
.header-19cWci {
  color: var(--sec);
}
.iconBadge-3qSJIw.participating-1NvRVd {
  background-color: var(--sec);
}
.botTagRegular-2HEhHi {
  color: var(--sec);
  background-color: #302f2f;
}

.field-1HUseB > div > div > div {
  filter: blur(5px);
}
.field-1HUseB > div > div > div:hover {
  filter: blur(0);
}

.messageGroupWrapper-o-Zw7G .messageGroupCozy-2iY6cT {
  background-color: var(--bg2);
}

.premiumContainer-2Iux5m {
  background-color: var(--bg);
}
.scroller-9moviB {
  background-color: var(--bg);
}
.sectionDescription-3uMpPK {
  color: var(--sec);
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
  background-color: var(--bg2);
}
.marketingRefreshTier1Logo-sY6Lgd {
  color: var(--sec);
}
.marketingRefreshDescription-UL0ZTA {
  color: var(--sec);
}
.perksModalContentWrapper-2HU6uL {
  background-color: var(--bg);
}

.resultsGroup-r_nuzN {
  background-color: var(--bg);
  color: var(--sec);
}

.tab-2j5AEF.selected-2LAck8 {
  color: var(--sec);
}
.queryContainer-EKFJW- {
  background-color: var(--bg);
}

.animatedContainer-1NSq4T,
.content-3YMskv [style="height: 84px;"],
.bannerImage-3KhIJ6 {
  display: none;
}
.hasBanner-2SrLR3 .header-2V-4Sw,
.hasBanner-2SrLR3 .header-2V-4Sw:hover {
  color: var(--header-primary);
  box-shadow: var(--elevation-low);
}
.iconTierOne-s_oiRb,
.iconTierTwo-1JOWNK {
  color: var(--bg);
}
.iconCaret-291Y5V {
  color: var(--sec);
}
.pageButton-2ruNwd {
  color: var(--sec);
}

.theme-dark .activeButton-rvKcqq, .theme-dark .activeButton-rvKcqq:hover, .theme-light .activeButton-rvKcqq, .theme-light .activeButton-rvKcqq:hover {
  color: var(--bg);
  background-color: var(--sec);
}

.hasBanner-2SrLR3 .header-2V-4Sw, .hasBanner-2SrLR3 .header-2V-4Sw:hover {
  background-color: var(--bg);
}

.replyBar-1YLQ2F {
  background-color: var(--bg);
}
.closeIcon-HLoKft {
  color: var(--sec);
}
.colorHeaderSecondary-3Sp3Ft {
  color: var(--bg);
}

.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa {
  background-color: var(--bg2)
}
.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa {
  color: var(--sec);
}
.messages-3G3erD {
  background-color: var(--bg2);
}
.channelHeader-3Gd2xq {
  background-color: var(--bg2);
}
.tertiary-aMXF0g {
  background-color: var(--bg);
  color: var(--sec);
}
.tertiary-aMXF0g:hover:not(.disabled-3Njyym) {
  background-color: var(--bg);
  color: var(--sec);
}
.tutorialIcon-3f1miQ {
  background-color: var(--bg);
  color: var(--sec);
}
.secondary-dIudih {
  background-color: var(--bg2);
  color: var(--sec);
}
.secondary-dIudih:hover:not(.disabled-3Njyym) {
  background-color: var(--bg2);
  color: var(--sec);
}
.messageContainer-gbhlwo {
  background-color: var(--bg2);
}
.wrapper-3vR61M {
  background-color: var(--bg);
}
.scroller-1Bvpku {
  background-color: var(--bg) !important;
}
.tab-2j5AEF {
  color: var(--sec);
}
.theme-dark .tab-2j5AEF.selected-2LAck8 {
  background-color: var(--bg2)
}
.message-1Ng5AR {
  background-color: var(--bg2)
}
.section-2gLsgF {
  color: var(--links)
}
.colorStandard-2KCXvj {
  color: var(--bg);
}
.backButton-iA7KIs {
  color: var(--sec);
}

.skip-2o6MGG {
  color: var(--sec);
}
.grow-q77ONN, .sizeIcon-1-kvKI {
  color: var(--sec);
}
.input-cIJ7To {
  color: var(--sec);
}
.subtitle-1KdHaN {
  color: var(--sec);
}
.size14-e6ZScH {
  color: var(--sec);
}
.activity-2INFPu {
  background-color: var(--bg);
}
.rolesList-1geHY1 {
  background-color: var(--bg);
}
.base-1x0h_U.muted-3-7c5L {
  background-color: var(--bg);
  color: var(--sec);
}
.body-3HBlXn {
  background-color: var(--bg);
}
.theme-dark .root-1gCeng {
  background-color: var(--bg);
}
.size12-3cLvbJ {
  color: var(--sec);
}
.customStatus-3tC2ig {
  color: var(--sec);
  width: 120px;
}
.icons-2E-yxr {
  color: var(--sec);
}
.selectedIcon-3uS11H {
  color: var(--sec);
}
.card-2Mz_4z {
  background-color: var(--bg2);
}
.radioBar-bMNUI- {
  background-color: var(--bg2);
}
.channelInfo-2OWB9j {
  color: var(--sec);
}
.channelIcon-2xPHJh {
  color: var(--sec);
}
.radioIconForeground-XwlXQN {
  color: var(--sec);
}
.selectedIcon-DE5J2w {
  color: var(--sec);
}
.ellipsisText-2EszCb {
  color: var(--sec);
}
.selectorButtonSelected-t5V9On {
  background-color: var(--bg);
}
.selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):hover {
  background-color: var(--bg);
}

.textContent-3N7xXx {
  color: var(--bg);
}
.cozy-12kSNU.wrapper-1F5TKx {
  background-color: var(--bg);
}
.content-1o0f9g {
  background-color: transparent;
  color: var(--sec);
}

.acronym-2mOFsV {
  background-color: var(--bg);
  color: var(--sec);
}
.expandedFolderBackground-1cujaW {
  background-color: var(--bg2);
}
.contentWrapper-SvZHNd {
  background-color: var(--bg);
}
.header-ywPcAE {
  background-color: var(--bg);
}
.titlePrimary-1jHRGm, .titleSecondary-3Dh_RZ {
  color: var(--sec);
}
.inspector-3LQtX9 {
  background-color: var(--bg);
}
.icon-3jQD8H {
  color: var(--sec);
}
.bodyInnerWrapper-26fQXj {
  background-color: var(--bg);
}
.footer-3UKYOU {
  background-color: var(--bg);
}
.headerTopWithCustomStatus-1DHAjX {
  background-color: var(--bg);
}
.headerTop-3vNv-a {
  background-color: var(--bg);
}
.memberCountContainer-1BJFU2 {
  color: var(--sec);
}
.icon-1S6UIr {
  color: var(--sec);
}
.input-3Xdcic::placeholder {
  color: var(--sec);
}
.emptyRoles-23F3oy {
  color: var(--sec);
}
.emptyRolesText-gurxgN {
  color: var(--sec);
}
.icon-3_8HGa {
  color: var(--sec);
}
.label-2gpUAV {
  color: var(--sec);
}
.arrow-2aE8q8 {
  color: var(--sec);
}
.icon-3CsuzN {
  color: var(--sec);
}

.tierLock-3nsR0q {
  color: var(--sec);
}
.tierRequirement-UAxC-l {
  color: var(--sec);
}
.size16-1P40sf {
  color: var(--sec);
}
.theme-dark .tierBody-3aUxuc {
  background-color: var(--bg2);
}
.wrapper-18yWki {
  background-color: var(--bg2);
}

.emptyTierImage-UTgz1t {
  color: var(--sec);
}

.emptyTierImage-UTgz1t, .unlockTierCtaHeading-3Q9aZn {
  color: var(--sec);
}

.css-19bqh2r{
  color: var(--sec);
}
.theme-dark .option-96V44q:after {
  background: transparent;
}

.textContent-3N7xXx {
  color: var(--bg);
}

.categoryItemDefaultCategorySelected-_HCKoz .categoryIcon-1SvUHG, .categoryItemDefaultCategorySelected-_HCKoz:hover .categoryIcon-1SvUHG, .categoryItemDefaultCategory-aBZ6nJ:hover .categoryIcon-1SvUHG {
  color: var(--sec);
}

.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
  border-color: var(--sec);
  color: var(--sec);
  border-radius: 25px;
}

.css-4h5swf-singleValue {
  color: var(--sec);
}

.theme-dark .message-2qRu38 {
  background-color: var(--bg2);
}

.keybindShortcut-1BD6Z1 span {
  background-color: var(--sec);
  border: var(--sec);
}

.bottomInformationTextContainer-2lvA_a, .stickerResults-3HacYG {
  background-color: var(--bg2);
}

.avatar-AvHqJA {
  margin-left: 200px;
}

.badgeList-1R1WgZ {
  margin-left: -150px;
}

.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-, .theme-dark .searchOption-zQ-1l6 .answer-1n6g43, .resultsGroup-r_nuzN .header-2N-gMV {
  color: var(--sec);
}

.text-1FOLJS {
  color: var(--bg);
}

.overflowMenuIcon-1h7e8s {
  color: var(--sec);
}

.username-2b1r56, .discriminator-2C3qJO, .headerTagDiscriminatorNoNickname-D-AYUN {
  color: var(--sec);
}



::-webkit-scrollbar-thumb {
  background-color: var(--sec) !important;
}
::selection {
  background-color: var(--bg);
  color: var(--links);
}
@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');
@keyframes devbadge {
  0% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838640197304341/thing1.png");
  } 6.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838641575919616/thing2.png");
  } 12.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838643107889173/thing3.png");
  } 18.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838644717977660/thing4.png");
  } 25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838646499901500/thing5.png");
  } 31.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838647398006804/thing6.png")
  } 37.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838648417615903/thing7.png");
  } 43.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838649788497940/thing8.png");
  } 50% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838650111852544/thing9.png");
  } 56.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838652200353792/thing10.png");
  } 62.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848841593095454780/thing11.png")
  } 68.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838686955012126/thing12.png");
  } 75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838692889034752/thing13.png");
  } 81.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838702435139615/thing14.png");
  } 87.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838706067537951/thing15.png")
  } 93.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838717279174666/thing16.png");
  } 100% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838640197304341/thing1.png");
  }
}
@keyframes dance {
  10%, 90% {
    transform: translate(-0.5px) scale(1.5);
  }20%, 80% {
    transform: translate(1px) scale(1.5);
  }30%, 50%, 70% {
    transform: translate(-2px) scale(1.5);
  }40%, 60% {
    transform: translate(2px) scale(1.5);
  }
}
.container-q03LZO>*{
  justify-content: flex-end;
  margin: var(--badge-margin);
}
.clickable-17BDii > img{
  height: var(--badge-size) !important;
  width: var(--badge-size) !important;
}
/* Hype Squad Badges*/
img[src="/assets/e666a84a7a5ea2abbbfa73adf22e627b.svg"]{
  transition-delay: 2s;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url('https://discord.com/assets/e666a84a7a5ea2abbbfa73adf22e627b.svg');
}
div:hover > img[src="/assets/e666a84a7a5ea2abbbfa73adf22e627b.svg"] {
  background-image: url('https://media.discordapp.net/attachments/756856464374628352/849218085961596948/events.gif') ;
  transform: translateY(-1.5px);
  transition-delay: 0s;
}
div[aria-label*="HypeSquad"] > img{
  transition-duration: 0.4s;
  transform: scale(1.15);
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
div[aria-label*="HypeSquad"]:hover > img{
  filter: drop-shadow(0px 0px 2px var(--hypesquad-colour));
}
div:hover > img[src="/assets/efcc751513ec434ea4275ecda4f61136.svg"]{
  --hypesquad-colour: rgb(156, 132, 239);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848502137436635156/braverysquadbadge.png");
  transform: scale(1.35);
}
div:hover > img[src="/assets/ec8e92568a7c8f19a052ef42f862ff18.svg"]{
  --hypesquad-colour: rgb(244, 123, 103);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503338579656714/brilliancesquadbadge.png");
  transform: scale(1.35);
}
div:hover > img[src="/assets/9f00b18e292e10fc0ae84ff5332e8b0b.svg"]{
  --hypesquad-colour: rgb(69, 221, 192);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503229583065088/balancesquadbadge.png");
    transform: scale(1.35);
}
img[src="/assets/efcc751513ec434ea4275ecda4f61136.svg"]{
  background-image: url("https://discord.com/assets/995ecfdbdf94ad84dd4d802c104e4630.svg") ;
}
img[src="/assets/ec8e92568a7c8f19a052ef42f862ff18.svg"]{
  background-image: url("https://discord.com/assets/473dadec13ab7e90e209cc60fccb31c5.svg") ;
}
img[src="/assets/9f00b18e292e10fc0ae84ff5332e8b0b.svg"]{
  background-image: url("https://discord.com/assets/58f11abcf3c13812bff969baaeb84d82.svg") ;
}
/* Nitro badge */
img[src="/assets/24d05f3b46a110e538674edbac0db4cd.svg"]{
  transition-duration: 1s;
  filter: contrast(1) hue-rotate(0deg);
}
div:hover > img[src="/assets/24d05f3b46a110e538674edbac0db4cd.svg"]{
  transform: scale(1.2);
  filter: contrast(1.2) hue-rotate(-390deg);
}
/* Booster badges */
div:hover > img[src="/assets/ca18353be0e57a2b3b3132fa1c08d6b4.svg"],
div:hover > img[src="/assets/22f99ed6e34eaca48950254c70f8fe8d.svg"],
div:hover > img[src="/assets/4a2618502278029ce88adeea179ed435.svg"],
div:hover > img[src="/assets/fbafa6adb7c49a6a2c3822521ff2af2f.svg"],
div:hover > img[src="/assets/0599f90e32c15b532647163edd72f70a.svg"],
div:hover > img[src="/assets/e07c08cdc72bcc78b69c76d2c7ceb344.svg"],
div:hover > img[src="/assets/c7f26927db5e7806790f4e968038630a.svg"],
div:hover > img[src="/assets/c6d88d1d12afe03bdc4ebb747f8d196b.svg"],
div:hover > img[src="/assets/d96ed283b74de75692487b7499fb8d09.svg"]{
  content: url("https://cdn.discordapp.com/emojis/845808489238757426.gif");
}
img[src="/assets/ca18353be0e57a2b3b3132fa1c08d6b4.svg"],
img[src="/assets/22f99ed6e34eaca48950254c70f8fe8d.svg"],
img[src="/assets/4a2618502278029ce88adeea179ed435.svg"],
img[src="/assets/fbafa6adb7c49a6a2c3822521ff2af2f.svg"],
img[src="/assets/0599f90e32c15b532647163edd72f70a.svg"],
img[src="/assets/e07c08cdc72bcc78b69c76d2c7ceb344.svg"],
img[src="/assets/c7f26927db5e7806790f4e968038630a.svg"],
img[src="/assets/c6d88d1d12afe03bdc4ebb747f8d196b.svg"],
img[src="/assets/d96ed283b74de75692487b7499fb8d09.svg"]{
  height: calc(var(--badge-size) - 2.59px) !important;
  width: calc(var(--badge-size) - 2.59px) !important;
  transform: translate(0.5px, 1.9px);
}
/* Early Supporter */
img[src="/assets/b802e9af134ff492276d94220e36ec5c.svg"]{
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("https://discord.com/assets/b802e9af134ff492276d94220e36ec5c.svg");
  transition-duration: 0.5s;
}
.clickable-17BDii:hover > img[src="/assets/b802e9af134ff492276d94220e36ec5c.svg"]{
transform: scale(1.16);
}
.clickable-17BDii[aria-label*="Early Supporter"]:hover::after{
  transform: scale(1) translate(12.5px,-11px);
}
.clickable-17BDii[aria-label*="Early Supporter"]::after{
  background-color: transparent;
  content: "❤";
  color: #dd504d;
  position: absolute;
  z-index: 100000;
  font-size: calc(var(--badge-size)*0.5454);
  transform: scale(0) translate(50px,-100px);
  transition-duration: 0.5s;
}
/* Verified dev */
div:hover > img[src="/assets/4441e07fe0f46b3cb41b79366236fca6.svg"] {
  animation: devbadge 5s infinite normal linear;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
/* Partner badge */
img[src="/assets/34306011e46e87f8ef25f3415d3b99ca.svg"]{
  background-image: url("https://media.discordapp.net/attachments/855157744305831966/857513752501026817/partnerbadge.png") ;
  transition-delay: 2s;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  filter: contrast(1.35);
  zoom: 90%;
  transform: translateY(2.4px);
}
div:hover > img[src="/assets/34306011e46e87f8ef25f3415d3b99ca.svg"] {
  background-image: url('https://media.discordapp.net/attachments/756856464374628352/848503285556051988/partnerbadge.gif') ;
  transition-delay: 0s;
}
/* Certified moderator badge */
img[src="/assets/c981e58b5ea4b7fedd3a643cf0c60564.svg"] {
  transition-duration: 1.4s;
  transition-delay: 0.1s;
}
div:hover > img[src="/assets/c981e58b5ea4b7fedd3a643cf0c60564.svg"]{
  transform: rotateY(540deg) scale(1.2);
  transition-delay: 0s;
}
/* Bug hunter badges */
img[src="/assets/8353d89b529e13365c415aef08d1d1f4.svg"], img[src="/assets/f599063762165e0d23e8b11b684765a8.svg"]{
  transition-duration: 0.5s;
}
div:hover > img[src="/assets/5c6bb5c4640972078fc993f1b5f503ce.svg"], div:hover > img[src="/assets/f599063762165e0d23e8b11b684765a8.svg"]{
  transform: rotateY(180deg) rotate(-90deg);
}
/* Staff badge */
img[src="/assets/48d5bdcffe9e7848067c2e187f1ef951.svg"]{
  transition-duration: 0.5s;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("https://discord.com/assets/48d5bdcffe9e7848067c2e187f1ef951.svg");
}
div:hover > img[src="/assets/48d5bdcffe9e7848067c2e187f1ef951.svg"]{
  transform: scale(1.1);
  filter:brightness(0.8) contrast(1.5) saturate(0.975);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/849207087409528842/staff.png");
}
.warningCircleIcon-3R0DL, .warningCircleIcon-cBU5e2w{
  transition-duration: 0.2s;
  height: var(--badge-size);
  width: var(--badge-size);
  transform: scale(1);
}
.warningCircleIcon-3R0DLw:hover, .warningCircleIcon-cBU5e2:hover{
  transform: scale(1.5);
  animation: dance 0.82s 0.25s normal ease;
}
.warningCircleIcon-3R0DLw:hover path, .warningCircleIcon-cBU5e2:hover path{
  d: path("M 10 0 Z M 9 4 H 11 V 11 H 9 V 4 Z M 10 15.25 C 9.31 15.25 8.75 14.691 8.75 14 C 8.75 13.31 9.31 12.75 10 12.75 C 10.69 12.75 11.25 13.31 11.25 14 C 11.25 14.691 10.69 15.25 10 15.25 Z")
}
/* initialization */
a[href*="https://support.discord.com"]:after{
  animation: initialize 2.75s 2 normal linear 4s;
  transform: translate(30000px);
  content: "hi";
  font-size: 22px;
  position: absolute;
}
@keyframes initialize {
  0%{
    background: url("https://media.discordapp.net/attachments/756856464374628352/848503285556051988/partnerbadge.gif");
  }20%{
    background: url("https://cdn.discordapp.com/emojis/845808489238757426.gif");
  }40%{
    background: url("https://media.discordapp.net/attachments/756856464374628352/849218085961596948/events.gif");
  }60%{
    background: url("https://media.discordapp.net/attachments/756856464374628352/848502137436635156/braverysquadbadge.png");
  }80%{
    background: url("https://media.discordapp.net/attachments/756856464374628352/848503338579656714/brilliancesquadbadge.png");
  }100%{
    background: url("https://media.discordapp.net/attachments/756856464374628352/848503229583065088/balancesquadbadge.png");
  }
}
.toolbar-1t6TWx::after{
  animation: devbadge 5.5s 2 4s normal linear;
  transform: translate(1000px);
  content: "hi";
  font-size: 22px;
  position: absolute;
}



/* badges everywhere */
.badges img, .badges-XRnWAp img{
  height: var(--badges-everywhere-size) !important;
  width: var(--badges-everywhere-size) !important;
}
/* early supporter, staff, partner, hypesqaud events, verified dev, bug hunter*/
.badges img[src="/assets/d66ce47c4ab7817190af9544f97e98cc.svg"], 
.badges img[src="/assets/f62be1ec9bdd82d3d77158ad81830e68.svg"], 
.badges img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"], 
.badges img[src="/assets/f5354673c9cff61c1dcc70081ef774e5.svg"], 
.badges > div:hover > img[src="/assets/877dc8bece1590e63fac6d5a0cd2a225.svg"], 
.badges > div[aria-label*="HypeSquad"] > img, 
.badges img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"] 
.badges img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"]{ 
  padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
  /* overflow: hidden; */
  /* background-color: white; */
}
.badges img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"]{
  transform: translate(1px, 0.3px);
}
.badges > div[aria-label*="Early Supporter"]:hover::after{
  font-size: calc(var(--badges-everywhere-size)*0.5454);
  transform: scale(1) translate(10.5px,-15.5px);
}
.badges img[src="/assets/1d3c9e1123aee11a325af328609d1274.svg"],
.badges img[src="/assets/dd50d32cf4fee241b2fa022d8c0435ae.svg"],
.badges img[src="/assets/7294cc730410a1caeceeca736f800b42.svg"],
.badges img[src="/assets/ce54a4f8c0e133a6f2d60336e7acac7d.svg"],
.badges img[src="/assets/c0c9db2de008e61a1a720581ca175fa1.svg"],
.badges img[src="/assets/556158300f0dca136d3c902586ff1316.svg"],
.badges img[src="/assets/ba38c1c57dfccb94127e53b7ac502a90.svg"],
.badges img[src="/assets/42ecb902decfc8e83a7446a0904b1e18.svg"],
.badges img[src="/assets/496aa1174817ec391612f745dc8e0725.svg"]{
  height: calc(var(--badges-everywhere-size) - 1.9px) !important;
  width: calc(var(--badges-everywhere-size) - 1.9px) !important;
  transform: translateY(1.2px);
  overflow: visible;
}
.badges-XRnWAp img[src="/assets/1d3c9e1123aee11a325af328609d1274.svg"],
.badges-XRnWAp img[src="/assets/dd50d32cf4fee241b2fa022d8c0435ae.svg"],
.badges-XRnWAp img[src="/assets/7294cc730410a1caeceeca736f800b42.svg"],
.badges-XRnWAp img[src="/assets/ce54a4f8c0e133a6f2d60336e7acac7d.svg"],
.badges-XRnWAp img[src="/assets/c0c9db2de008e61a1a720581ca175fa1.svg"],
.badges-XRnWAp img[src="/assets/556158300f0dca136d3c902586ff1316.svg"],
.badges-XRnWAp img[src="/assets/ba38c1c57dfccb94127e53b7ac502a90.svg"],
.badges-XRnWAp img[src="/assets/42ecb902decfc8e83a7446a0904b1e18.svg"],
.badges-XRnWAp img[src="/assets/496aa1174817ec391612f745dc8e0725.svg"]{
  height: calc(var(--badges-everywhere-size) - 1.9px) !important;
  width: calc(var(--badges-everywhere-size) - 1.9px) !important;
  padding: 0px 0px 0px 0px;
  overflow: visible;
}
.badges-XRnWAp img[src="/assets/d66ce47c4ab7817190af9544f97e98cc.svg"], .badges-XRnWAp img[src="/assets/f62be1ec9bdd82d3d77158ad81830e68.svg"], .badges-XRnWAp img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"], .badges-XRnWAp img[src="/assets/f5354673c9cff61c1dcc70081ef774e5.svg"], .badges-XRnWAp > div:hover > img[src="/assets/877dc8bece1590e63fac6d5a0cd2a225.svg"], .badges-XRnWAp > div[aria-label*="HypeSquad"] > img, .badges-XRnWAp img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"] .badges-XRnWAp img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"]{ 
padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
overflow: hidden;
}
.badges-XRnWAp img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"]{
transform: translate(1px, 0.3px);
}
.badges-XRnWAp [src="/assets/473dadec13ab7e90e209cc60fccb31c5.svg"], .badges-XRnWAp [src="/assets/995ecfdbdf94ad84dd4d802c104e4630.svg"], .badges-XRnWAp [src="/assets/58f11abcf3c13812bff969baaeb84d82.svg"]{
transition-duration: 0.4s;
transform: scale(1.15);
padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
overflow: hidden;
box-sizing: border-box;
}
/* coolkid */
.userPopout-xaxa6l[aria-label="mr_miner"] .headerText-1vVs-U::after{
  content:"Better Badges Dev";
  font-size: 13px;
  -webkit-text-fill-color: rgb(226, 117, 253);  
  font-family: 'Slabo 13px', sans-serif;
  font-weight: 500;
}
.userPopout-xaxa6l[aria-label="mr_miner"] .headerTagDiscriminatorNoNickname-D-AYUN:after{
  content: "" !important;
}







/* temp fix for discord stupidity*/










@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');
@keyframes devbadge {
  0% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838640197304341/thing1.png");
  } 6.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838641575919616/thing2.png");
  } 12.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838643107889173/thing3.png");
  } 18.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838644717977660/thing4.png");
  } 25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838646499901500/thing5.png");
  } 31.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838647398006804/thing6.png")
  } 37.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838648417615903/thing7.png");
  } 43.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838649788497940/thing8.png");
  } 50% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838650111852544/thing9.png");
  } 56.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838652200353792/thing10.png");
  } 62.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848841593095454780/thing11.png")
  } 68.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838686955012126/thing12.png");
  } 75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838692889034752/thing13.png");
  } 81.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838702435139615/thing14.png");
  } 87.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838706067537951/thing15.png")
  } 93.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838717279174666/thing16.png");
  } 100% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838640197304341/thing1.png");
  }
}
@keyframes dance {
  10%, 90% {
    transform: translate(-0.5px) scale(1.5);
  }20%, 80% {
    transform: translate(1px) scale(1.5);
  }30%, 50%, 70% {
    transform: translate(-2px) scale(1.5);
  }40%, 60% {
    transform: translate(2px) scale(1.5);
  }
}
.container-q03LZO>*{
  justify-content: flex-end;
  margin: var(--badge-margin);
}
.clickable-17BDii > img{
  height: var(--badge-size) !important;
  width: var(--badge-size) !important;
}
/* Hype Squad Badges*/
img[src="/assets/f5354673c9cff61c1dcc70081ef774e5.svg"]{
  transition-delay: 2s;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url('https://discord.com/assets/f5354673c9cff61c1dcc70081ef774e5.svg');
}
div:hover > img[src="/assets/f5354673c9cff61c1dcc70081ef774e5.svg"] {
  background-image: url('https://media.discordapp.net/attachments/756856464374628352/849218085961596948/events.gif') ;
  transform: translateY(-1.5px);
  transition-delay: 0s;
}
div[aria-label*="HypeSquad"] > img{
  transition-duration: 0.4s;
  transform: scale(1.15);
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
div[aria-label*="HypeSquad"]:hover > img{
  filter: drop-shadow(0px 0px 2px var(--hypesquad-colour));
}
div:hover > img[src="/assets/995ecfdbdf94ad84dd4d802c104e4630.svg"]{
  --hypesquad-colour: rgb(156, 132, 239);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848502137436635156/braverysquadbadge.png");
  transform: scale(1.35);
}
div:hover > img[src="/assets/473dadec13ab7e90e209cc60fccb31c5.svg"]{
  --hypesquad-colour: rgb(244, 123, 103);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503338579656714/brilliancesquadbadge.png");
  transform: scale(1.35);
}
div:hover > img[src="/assets/58f11abcf3c13812bff969baaeb84d82.svg"]{
  --hypesquad-colour: rgb(69, 221, 192);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503229583065088/balancesquadbadge.png");
    transform: scale(1.35);
}
img[src="/assets/995ecfdbdf94ad84dd4d802c104e4630.svg"]{
  background-image: url("https://discord.com/assets/995ecfdbdf94ad84dd4d802c104e4630.svg") ;
}
img[src="/assets/473dadec13ab7e90e209cc60fccb31c5.svg"]{
  background-image: url("https://discord.com/assets/473dadec13ab7e90e209cc60fccb31c5.svg") ;
}
img[src="/assets/58f11abcf3c13812bff969baaeb84d82.svg"]{
  background-image: url("https://discord.com/assets/58f11abcf3c13812bff969baaeb84d82.svg") ;
}
/* Nitro badge */
img[src="/assets/e04ce699dcd2fd50d352a384511687a9.svg"]{
  transition-duration: 1s;
  filter: contrast(1) hue-rotate(0deg);
}
div:hover > img[src="/assets/e04ce699dcd2fd50d352a384511687a9.svg"]{
  transform: scale(1.2);
  filter: contrast(1.2) hue-rotate(-390deg);
}
/* Booster badges */
div:hover > img[src="/assets/1d3c9e1123aee11a325af328609d1274.svg"],
div:hover > img[src="/assets/dd50d32cf4fee241b2fa022d8c0435ae.svg"],
div:hover > img[src="/assets/7294cc730410a1caeceeca736f800b42.svg"],
div:hover > img[src="/assets/ce54a4f8c0e133a6f2d60336e7acac7d.svg"],
div:hover > img[src="/assets/c0c9db2de008e61a1a720581ca175fa1.svg"],
div:hover > img[src="/assets/556158300f0dca136d3c902586ff1316.svg"],
div:hover > img[src="/assets/ba38c1c57dfccb94127e53b7ac502a90.svg"],
div:hover > img[src="/assets/42ecb902decfc8e83a7446a0904b1e18.svg"],
div:hover > img[src="/assets/496aa1174817ec391612f745dc8e0725.svg"]{
  content: url("https://cdn.discordapp.com/emojis/845808489238757426.gif");
}
img[src="/assets/1d3c9e1123aee11a325af328609d1274.svg"],
img[src="/assets/dd50d32cf4fee241b2fa022d8c0435ae.svg"],
img[src="/assets/7294cc730410a1caeceeca736f800b42.svg"],
img[src="/assets/ce54a4f8c0e133a6f2d60336e7acac7d.svg"],
img[src="/assets/c0c9db2de008e61a1a720581ca175fa1.svg"],
img[src="/assets/556158300f0dca136d3c902586ff1316.svg"],
img[src="/assets/ba38c1c57dfccb94127e53b7ac502a90.svg"],
img[src="/assets/42ecb902decfc8e83a7446a0904b1e18.svg"],
img[src="/assets/496aa1174817ec391612f745dc8e0725.svg"]{
  height: calc(var(--badge-size) - 2.59px) !important;
  width: calc(var(--badge-size) - 2.59px) !important;
  /* transform: translate(0.5px, 1.9px); */
}
/* Early Supporter */
img[src="/assets/d66ce47c4ab7817190af9544f97e98cc.svg"]{
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("https://discord.com/assets/d66ce47c4ab7817190af9544f97e98cc.svg");
  transition-duration: 0.5s;
}
div:hover > img[src="/assets/d66ce47c4ab7817190af9544f97e98cc.svg"]{
transform: scale(1.16);
}
div[aria-label*="Early Supporter"]:hover::after{
  transform: scale(1) translate(12.5px,-11px);
}
div[aria-label*="Early Supporter"]::after{
  background-color: transparent;
  content: "❤";
  color: #dd504d;
  position: absolute;
  z-index: 100000;
  font-size: calc(var(--badge-size)*0.5454);
  transform: scale(0) translate(50px,-100px);
  transition-duration: 0.5s;
}
/* Verified dev */
div:hover > img[src="/assets/877dc8bece1590e63fac6d5a0cd2a225.svg"] {
  animation: devbadge 5s infinite normal linear;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
/* Partner badge */
img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"]{
  background-image: url("https://media.discordapp.net/attachments/855157744305831966/857513752501026817/partnerbadge.png") ;
  transition-delay: 2s;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  filter: contrast(1.35);
  zoom: 90%;
  transform: translateY(2.4px);
}
div:hover > img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"] {
  background-image: url('https://media.discordapp.net/attachments/756856464374628352/848503285556051988/partnerbadge.gif') ;
  transition-delay: 0s;
}
/* Certified moderator badge */
img[src="/assets/2af69d4f9d2ff38a7cf76fab0907ea7a.svg"] {
  transition-duration: 1.4s;
  transition-delay: 0.1s;
}
div:hover > img[src="/assets/2af69d4f9d2ff38a7cf76fab0907ea7a.svg"]{
  transform: rotateY(540deg) scale(1.2);
  transition-delay: 0s;
}
/* Bug hunter badges */
img[src="/assets/5c6bb5c4640972078fc993f1b5f503ce.svg"], img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"]{
  transition-duration: 0.5s;
}
div:hover > img[src="/assets/5c6bb5c4640972078fc993f1b5f503ce.svg"], div:hover > img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"]{
  transform: rotateY(180deg) rotate(-90deg);
}
/* Staff badge */
img[src="/assets/f62be1ec9bdd82d3d77158ad81830e68.svg"]{
  transition-duration: 0.5s;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("https://discord.com/assets/f62be1ec9bdd82d3d77158ad81830e68.svg");
}
div:hover > img[src="/assets/f62be1ec9bdd82d3d77158ad81830e68.svg"]{
  transform: scale(1.1);
  filter:brightness(0.8) contrast(1.5) saturate(0.975);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/849207087409528842/staff.png");
}
.warningCircleIcon-3R0DL, .warningCircleIcon-cBU5e2w{
  transition-duration: 0.2s;
  height: var(--badge-size);
  width: var(--badge-size);
  transform: scale(1);
}
.warningCircleIcon-3R0DLw:hover, .warningCircleIcon-cBU5e2:hover{
  transform: scale(1.5);
  animation: dance 0.82s 0.25s normal ease;
}
.warningCircleIcon-3R0DLw:hover path, .warningCircleIcon-cBU5e2:hover path{
  d: path("M 10 0 Z M 9 4 H 11 V 11 H 9 V 4 Z M 10 15.25 C 9.31 15.25 8.75 14.691 8.75 14 C 8.75 13.31 9.31 12.75 10 12.75 C 10.69 12.75 11.25 13.31 11.25 14 C 11.25 14.691 10.69 15.25 10 15.25 Z")
}
/* initialization */
a[href*="https://support.discord.com"]:after{
  animation: initialize 2.75s 2 normal linear 4s;
  transform: translate(30000px);
  content: "hi";
  font-size: 22px;
  position: absolute;
}
@keyframes initialize {
  0%{
    background: url("https://media.discordapp.net/attachments/756856464374628352/848503285556051988/partnerbadge.gif");
  }20%{
    background: url("https://cdn.discordapp.com/emojis/845808489238757426.gif");
  }40%{
    background: url("https://media.discordapp.net/attachments/756856464374628352/849218085961596948/events.gif");
  }60%{
    background: url("https://media.discordapp.net/attachments/756856464374628352/848502137436635156/braverysquadbadge.png");
  }80%{
    background: url("https://media.discordapp.net/attachments/756856464374628352/848503338579656714/brilliancesquadbadge.png");
  }100%{
    background: url("https://media.discordapp.net/attachments/756856464374628352/848503229583065088/balancesquadbadge.png");
  }
}
.toolbar-1t6TWx::after{
  animation: devbadge 5.5s 2 4s normal linear;
  transform: translate(1000px);
  content: "hi";
  font-size: 22px;
  position: absolute;
}



/* badges everywhere */
.badges img, .badges-XRnWAp img{
  height: var(--badges-everywhere-size) !important;
  width: var(--badges-everywhere-size) !important;
}
.badges img[src="/assets/d66ce47c4ab7817190af9544f97e98cc.svg"], .badges img[src="/assets/f62be1ec9bdd82d3d77158ad81830e68.svg"], .badges img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"], .badges img[src="/assets/f5354673c9cff61c1dcc70081ef774e5.svg"], .badges > div:hover > img[src="/assets/877dc8bece1590e63fac6d5a0cd2a225.svg"], .badges > div[aria-label*="HypeSquad"] > img, .badges img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"] .badges img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"]{ 
  padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
  overflow: hidden;
}
.badges img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"]{
  transform: translate(1px, 0.3px);
}
.badges > div[aria-label*="Early Supporter"]:hover::after{
  font-size: calc(var(--badges-everywhere-size)*0.5454);
  transform: scale(1) translate(10.5px,-15.5px);
}
.badges img[src="/assets/1d3c9e1123aee11a325af328609d1274.svg"],
.badges img[src="/assets/dd50d32cf4fee241b2fa022d8c0435ae.svg"],
.badges img[src="/assets/7294cc730410a1caeceeca736f800b42.svg"],
.badges img[src="/assets/ce54a4f8c0e133a6f2d60336e7acac7d.svg"],
.badges img[src="/assets/c0c9db2de008e61a1a720581ca175fa1.svg"],
.badges img[src="/assets/556158300f0dca136d3c902586ff1316.svg"],
.badges img[src="/assets/ba38c1c57dfccb94127e53b7ac502a90.svg"],
.badges img[src="/assets/42ecb902decfc8e83a7446a0904b1e18.svg"],
.badges img[src="/assets/496aa1174817ec391612f745dc8e0725.svg"]{
  height: calc(var(--badges-everywhere-size) - 1.9px) !important;
  width: calc(var(--badges-everywhere-size) - 1.9px) !important;
  transform: translateY(1.2px);
  overflow: visible;
}
.badges-XRnWAp img[src="/assets/1d3c9e1123aee11a325af328609d1274.svg"],
.badges-XRnWAp img[src="/assets/dd50d32cf4fee241b2fa022d8c0435ae.svg"],
.badges-XRnWAp img[src="/assets/7294cc730410a1caeceeca736f800b42.svg"],
.badges-XRnWAp img[src="/assets/ce54a4f8c0e133a6f2d60336e7acac7d.svg"],
.badges-XRnWAp img[src="/assets/c0c9db2de008e61a1a720581ca175fa1.svg"],
.badges-XRnWAp img[src="/assets/556158300f0dca136d3c902586ff1316.svg"],
.badges-XRnWAp img[src="/assets/ba38c1c57dfccb94127e53b7ac502a90.svg"],
.badges-XRnWAp img[src="/assets/42ecb902decfc8e83a7446a0904b1e18.svg"],
.badges-XRnWAp img[src="/assets/496aa1174817ec391612f745dc8e0725.svg"]{
  height: calc(var(--badges-everywhere-size) - 1.9px) !important;
  width: calc(var(--badges-everywhere-size) - 1.9px) !important;
  padding: 0px 0px 0px 0px;
  overflow: visible;
}
.badges-XRnWAp img[src="/assets/d66ce47c4ab7817190af9544f97e98cc.svg"], .badges-XRnWAp img[src="/assets/f62be1ec9bdd82d3d77158ad81830e68.svg"], .badges-XRnWAp img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"], .badges-XRnWAp img[src="/assets/f5354673c9cff61c1dcc70081ef774e5.svg"], .badges-XRnWAp > div:hover > img[src="/assets/877dc8bece1590e63fac6d5a0cd2a225.svg"], .badges-XRnWAp > div[aria-label*="HypeSquad"] > img, .badges-XRnWAp img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"] .badges-XRnWAp img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"]{ 
padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
overflow: hidden;
}
.badges-XRnWAp img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"]{
transform: translate(1px, 0.3px);
}
.badges-XRnWAp [src="/assets/473dadec13ab7e90e209cc60fccb31c5.svg"], .badges-XRnWAp [src="/assets/995ecfdbdf94ad84dd4d802c104e4630.svg"], .badges-XRnWAp [src="/assets/58f11abcf3c13812bff969baaeb84d82.svg"]{
transition-duration: 0.4s;
transform: scale(1.15);
padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
overflow: hidden;
box-sizing: border-box;
}
/* coolkid */
.userPopout-xaxa6l[aria-label="mr_miner"] .headerText-1vVs-U::after{
  content:"Better Badges Dev";
  font-size: 13px;
  -webkit-text-fill-color: rgb(226, 117, 253);  
  font-family: 'Slabo 13px', sans-serif;
  font-weight: 500;
}
.userPopout-xaxa6l[aria-label="mr_miner"] .headerTagDiscriminatorNoNickname-D-AYUN:after{
  content: "" !important;
}
